<div id="<%= dom_id mark %>">
  <p>
    <strong>Mark:</strong>
    <%= mark.mark %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= mark.slug %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= mark.active %>
  </p>

</div>
