<h1>Editing cuent client</h1>

<%= render "form", cuent_client: @cuent_client %>

<br>

<div>
  <%= link_to "Show this cuent client", @cuent_client %> |
  <%= link_to "Back to cuent clients", cuent_clients_path %>
</div>
