<p style="color: green"><%= notice %></p>

<h1>Cuent clients</h1>

<div id="cuent_clients">
  <% @cuent_clients.each do |cuent_client| %>
    <%= render cuent_client %>
    <p>
      <%= link_to "Show this cuent client", cuent_client %>
    </p>
  <% end %>
</div>

<%= link_to "New cuent client", new_cuent_client_path %>
