<h1>Editing cotizdetail</h1>

<%= render "form", cotizdetail: @cotizdetail %>

<br>

<div>
  <%= link_to "Show this cotizdetail", @cotizdetail %> |
  <%= link_to "Back to cotizdetails", cotizdetails_path %>
</div>
