<h1>Nueva Cotizacion</h1>

<div class="shadow-lg p-3 mb-5 bg-body rounded">


<%= render "form", cotiz: @cotiz %>

<br>

<div>
  <%= link_to "Regresar a cotizaciones", cotizs_path %>
</div>



</div>

