<div id="<%= dom_id extent %>">
  <p>
    <strong>Extent:</strong>
    <%= extent.extent %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= extent.slug %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= extent.active %>
  </p>

</div>
