<div id="<%= dom_id item %>">
  <p>
    <strong>Cantidad:</strong>
    <%= item.cantidad %>
  </p>

  <p>
    <strong>Sale:</strong>
    <%= item.sale_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= item.product_id %>
  </p>

</div>
