
<h1>Sales</h1>



<%= link_to "Realizar Nueva venta", new_sale_path %>




<div class="container">
  <div class="row justify-content-start shadow-lg p-3 mb-5 bg-body rounded">
        <div class="col-6 shadow-lg p-3 mb-5 bg-body rounded">

<div class= "table-responsive">


        <table class="table">
          <thead>
            <tr>
              
              <th scope="col">user</th>
              <th scope="col">cliente</th>
              <th scope="col">fecha</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
          <% @sales.each do |sale| %>
           <% if sale.client.nil?%>
             <% else %>
            <%= render sale %>
            
            <% end %>
            
          <% end %>

          </tbody>
        </table>
</div>



        </div>
<div class="col-6 shadow-lg p-3 mb-5 bg-body rounded">

        <table class="table">
          <thead>
            <tr>
              
              <th scope="col">user</th>
             
              <th scope="col">fecha</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
          <% @sales.each do |sale| %>
           <% if sale.client.nil?%>
           
            <%= render sale %>
            <% else %>
            
            <% end %>
            
          <% end %>

          </tbody>
        </table>



        </div>

  </div>
  </div>

